html {

    font-size: 16px;

}

main {

    margin: 0;

}

#header-banner {

    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../../public/banner2.jpg");
    background-size: cover;

}